:root {
    font-size: 14px;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: #e8e8e8;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 2em;
}

p {
    margin: 0 13% 1em 13%;

}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 20%;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 70, 0.5);
}

.grid {
    margin: 1em 0;
    padding: 2em 0 5em 0;
    display: grid;
    grid-template-rows: 150px repeat(4, 1fr);
    grid-template-columns: 300px repeat(4, 4em);
    /*grid-gap: .7em;    */
    text-align: center;
    background-color:rgb(253, 190, 35);
}

.grid * {
    background-color:rgb(253, 190, 35);
}

.one-row {
    display: contents;
}

div {
    background-color: #fff;
}

.circle {
    background-color: #011a3f;
    margin: 1em auto;
    padding-top: 1em;
    width: 1.3em; 
    height: 1.3em;
    border-radius: 50%;
}

.category-2 {
    padding-top: 1em;
    font-size: 1.2em;
}

.category-1 p {
    writing-mode: tb-rl;
    transform:rotate(213deg);
    padding-right: 1.6em;
    padding-top: .3em;
    text-align: left;
    font-size: 1.2em;
 }

.link {
    width: 3em;
    height: 3em;
    margin: 0;
    padding: 0;
    background-color:rgb(253, 190, 35);
   }

.link button {
    display: block; 
    height: 100%; /* Высота на весь слой */
    background-color: #fff;
    outline: 0;
    border: none;
    cursor: pointer;
    background-color:rgb(253, 190, 35);
}

.link button:hover .circle{
    background-color: whitesmoke;
}
/*
.header {
    background-color: rgb(125, 167, 245);
}
*/

 /*form site: https://ru.stackoverflow.com/questions/639822/%d0%9d%d0%b5%d1%81%d0%ba%d0%be%d0%bb%d1%8c%d0%ba%d0%be-%d0%bc%d0%be%d0%b4%d0%b0%d0%bb%d1%8c%d0%bd%d1%8b%d1%85-%d0%be%d0%ba%d0%be%d0%bd-%d0%bd%d0%b0-%d1%81%d1%82%d1%80%d0%b0%d0%bd%d0%b8%d1%86%d0%b5*/

 /*from Kit Grant*/
 .modal {
    display: none;
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(173, 173, 173, 0.5);
    z-index: 1;
  }

  .modal-body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 13%;
    left: 13%;
    padding: 2em 3em;
    background-color: white;
    overflow: auto;
    z-index: 2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  .modal-body > div > img {
      max-width: 49%;
      max-height: 500px;
      text-align: center;
      margin: 2em auto;
      z-index: 2;
  }

  .zoom:hover {
    max-width: 80%;
    max-height: none;
}

.modal-body .nonzoom {
    max-width: 70%;
    max-height: none;
}
  .center {
    text-align: center;
  }

 .twoPict {
    display: inline;
    text-align: center;
}

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3em;
    font-size: 2em;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border: 0;
  }
  .close::before {
    display: block;
    content: '\00D7';
    font-size: 38px;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
  }